* {
	margin: 0px;
	padding: 0px;
}

body {
	padding: 6px 0px 12px;
	background-color: #f6faff;
	color: #333333;
	font-family: verdana, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
}

#iframebody {
	background-color: #fff;
	background-image: none;
}

#pager{
	background-color: grey;
    height: 199px;
    width: 179px;
}

.req{
	}
	
.nodisplay{
	display: none;
}
.searchBoxSpan{
	margin-top: 10px;
	}
	
.searchBoxSpan label{
	font-size: 12pt;
    font-weight: bold;
	}
	
.searchBoxSpan input{
	background-color: #FFFAF0;
	}
	
.debugWindow{
	background-color: #FFFFFF;
    border: 4px solid black;
    left: 1400px;
    padding: 4px;
    position: absolute;
    top: 30px;
    width: 570px;
	}

.submiterror{
	color: red;
    font-size: 13pt;
	}
	
.submitsuccess{
	color: green;
    font-size: 13pt;
	}

.requiredfield{
	color: red;
	}
	
.title{
	border-bottom: 9px solid #D6E1F4;
    font-size: 20pt;
    font-weight: bold;
    padding-bottom: 4px;
    text-align: center;
    padding-top: 2em;
	}
	
.titlesmaller{
	border-bottom: 5px solid #D6E1F4;
    font-size: 14pt;
    font-weight: bold;
    padding-bottom: 4px;
    text-align: center;
	}

.regularBox{
    margin: 5px;
    background-color: #FFFFFF;
    padding-bottom: 13px;
	}

.regularPrivBox{
	border: 2px solid #D6E1F4;
	border-radius: 8px 8px 8px 8px;
    background-color: #FFFFFF;
    padding-bottom: 13px;
	}
	
#usersearchframe{
	width:100%;
	height:100%;
	}

#createUserDiv{
    width: 325px;
	}
	
#changePasswordDiv{
    width: 325px;
	}

.textAlignCenterBox{
	text-align: center;
	}

.searchListBox{
	border: 1px solid black;
	min-height: 300px;
	
	}

a[rel='pdf'] { 
	padding-left: 18px;
	background: transparent url("/images/icon_pdf.gif") no-repeat center left;
}

a[rel='csv'] { 
	padding-left: 18px;
	background: transparent url("/images/icon_xls.gif") no-repeat center left;
}

#loginBoxTable{
    text-align: center;
    margin: auto;
	}

#loginBoxTable td{
	}
	
#loginDiv{
	border: 5px solid black;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
    text-align: center;
    padding: 10px;
	}
	
#loginDiv .title{
	border: 0px;
}

#container {
	/*margin: 0px auto;*/
	padding-top: 7px;
	width: 100%;
	text-align: justify;
	
}

#userinfobar{
	background-color: white;
    margin-top: 5px;
    min-height: 25px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
	}
	
#userwelcometext{
    float: right;
    margin: 5px;
    font-weight: bold;
	}
#userwelcometext a{
	text-decoration: none;
	color: #000;
}

/* Form Input Styles */
	
form table{
	margin-left: 10px;
	}
	
form table td{
	padding-top: 7px;
	}
		
form table td input{
	border: 2px solid black;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 4px 0 #81B8EB;
	}

.resizeiframe{
	border: 1px solid black;
	}
	
.resizeiframe iframe{
	border: none;
	width: 100%;
	height: 100%;
	}

.searchabledropdown{
	height: 17px;
	width: 185px;	
	}
	
.removeButton{
	background-color: #FFFFFF;
    background-image: url("../images/redx.jpg");
    background-position: center center;
    height: 22px;
    width: 26px;
	}
	
.plusSignButton{
    background-image: url("../images/plus.gif");
    background-position: center center;
    height: 22px;
    width: 26px;
	}

.chosen{
	color: green;
	}
	
.notchosen{
	color: red;
	}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

#leftsection{
	float: left;
    width: 150px;
	}
#rightsection{
	float: right;
	width: 850px;
	}
	
#topbar{
	width: 100%;
	}

#topbar .headerimage{
	text-align: center;
    overflow: hidden;
    max-width: 1260px;
    margin: auto;
    width: 100%;
	}

#topbar .headerimage img{
	width: 100%
	}
	
#titlehead{
	font-size: 28pt;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    background-color: #d6e1f4;
    border-radius: 10px 10px 10px 10px;
	}
	
#navbar{
    margin: 10px;
    width: 98%;
    height: 45px;
	}

#navbar ul{
	width: 100%;
	}
#navbar ul li{
    float: left;
	background: url("../images/link-background2.png") repeat-x scroll center bottom #FFFFFF;
	border-radius: 8px 8px 8px 8px;
    border: 1px solid #e7d6ff;
    font-size: 14pt;
    font-family: verdana;
    min-height: 25px;
    margin: 4px;
    text-align: center;
    padding: 4px
	}
#navbar .selected{
	color: #2db808;
	}	
#navbar ul li a{
	color: #000000;
    text-decoration: none;
    width: 100%;
    font-weight: bold;
	}
#navbar ul li:hover{
	background: url("../images/link-background-hover.png") repeat-x scroll center top #FFFFFF;
	}

#content {
	margin-top: 10px;
    /*min-height: 900px;*/
    padding: 10px;
}


a {
	color: #000000;
    text-decoration: none;
}
	

a:hover{
	text-decoration:underline;
	}
	
div.services_textbox p a {
	color: #695d47;
	background-color: inherit;
	text-decoration: underline;
}

.services_textbox p a:hover {
	color: #ab9c7e;
	background-color: inherit;
}

img {
	border: none;
}

ul {
	list-style-type: none;
}

li {
	list-style-type: none;
}

p {
	margin: 10px 0px 10px;
	text-align: justify;
	line-height: 15px;
}

.clearthis {
	margin : 0px;
	height : 1px;
	clear : both;
	float : none;
	font-size : 1px;
	line-height : 0px;
	overflow : hidden;
	visibility: hidden;
}

input {
	padding-top: 2px;
	/*font-family: verdana, arial, sans-serif;
	background-color: #fff;
	color: #666666;
	*/
	font-weight: bold;
	font-size: 13px;
}

/* Page Content */

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dashboard_summary_container {
    display: flex;
    flex-flow: column wrap;
}

.dashboard_summary_container_child {
    width: 98%;
    text-align: center;
}

#datecontrolpanel {
    display: flex;
    flex-flow: column wrap;
}

#datecontrolpanel .controlpanel_child {
    width: 100%;
    text-align: center;
}

#dashboard_stat_panel {
    display: flex;
    flex-flow: row;
    border: 1px solid black;
    padding: 10px;
    margin-top: 1%;
    justify-content: space-evenly;
}

.dashboard_stat_panel_child {
    width: 16%;
    text-align: center;
}

.dashboard_stat_panel_child_title {
    font-size: 17pt;
    border-bottom: 1px solid black;
}

.dashboard_stat_panel_child_result {
    font-size: 20pt;
    font-weight: bold;
}

#overlaydialog {
    width: 100%;
    height: 2500px;
    background-color: rgba(80, 69, 159, 0.75);
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
}

#overlaydialogcontainer {
    opacity: 100%;
    width: 85%;
    margin: 6%;
    background-color: white;
    padding: 2em;
    position: absolute;
}

#overlaydialogresponsecontainer {
    width: 100%;
    text-align: center;
    height: 100px;
    background-color: white;
}

#close-overlay {
    position: absolute;
    right: 0;
    top: 0;
}

.screnshot_table {
    padding: 1em;
}

.screnshot_table th {
    font-size: 20pt;
    font-weight: bold;
    background-color: #c9d4ff;
    color: black;
    padding: 10px;
    text-align: center;
}

.screnshot_table td {
    font-size: 14pt;
    font-weight: bold;
    color: black;
    padding: 10px;
    text-align: center;
}

.screnshot_table img {
    width: 800px;
}

.screenshoterror {
    color: red;
    font-size: 20pt;
}

#jsoneditor {
    width: 100%;
    min-height: 300px;
}

#greyout {
    background-color: grey;
    color: #FFFFFF;
    height: 600%;
    left: 0;
    opacity: 0.92;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

#create_notice_definition_button {
    float: right;
    padding: 10px;
    cursor: pointer;
}

#create_notice_definition_button .plusSignButton {
    float: left;
}

.create_notice_definition_button_title {
    float: right;
    text-align: center;
    padding: 5px;
}

#noticeTemplateData {
    width: 100%;
    min-height: 300px;
}

#noticeTemplateWrapper {
    width: 100%;
    min-height: 300px;
}

table.dataTable tbody tr.odd    { background-color: #E2E4FF; }
table.dataTable tbody tr.even  { background-color: white; }

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 1em;
  height: 1em;
}

.spinner {
	margin: 5px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: .5em solid rgba(0, 0, 255, 0.2);
    border-right: .5em solid rgba(0, 0, 255, 0.2);
    border-bottom: .5em solid rgba(0, 0, 255, 0.2);
    border-left: .5em solid #0000ff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Footer Links */

#footer_links {
	padding: 18px 0px 0px;
	color: #083360;
	background: url('../images/footer_background.gif') #fff repeat-x 0px 1px;
	font-family: tahoma, arial, sans-serif;
	font-weight: bold;
	text-align: center;
}

#footer_links a {
	color: #083360;
	text-decoration: none;
	background-color: inherit;
}

#footer_links a:hover {
	color: #185799;
	background-color: inherit;
}

#footer_links ul {
	margin: 0px auto;
	padding: 0px 0px 0px 100px;
}

#footer_links li {
	padding: 0px 12px 0px 10px;
	color: inherit;
	background: url('../images/footer_links_div.gif') #fff no-repeat 100% 100%;
	text-transform: lowercase;
	float: left;
}

#footer_links li.last {
	padding-right: 10px;
	background: none;
}


/* Page Footer */

#page_footer {
	padding: 15px 20px 0px;
	color: #000;
	background-color: #fff;
	font-family: tahoma, arial, sans-serif;
	font-weight: bold;
	text-align: center;
}

#page_footer a {
	color: #000;
	background-color: inherit;
}

#page_footer a:hover {
	color: #5c5c5c;
	background-color: inherit;
}

input[readonly="readonly"]
{
    background-color:grey;
    border: 0px;
}

#navBarIcon {
  display: none;
}

@media screen and (max-width: 600px)
{
	#navBarIcon {
		float: left;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		font-size: 26pt;
		background-color: PowderBlue;
	    border: 2px solid white;
	    border-radius: 2px 2px 2px 2px;
	    box-shadow: 0 0 0 1px #000000;
	    margin: 5px 5px 5px;
	    background: url("../images/link-background2.png") repeat-x scroll center bottom #FFFFFF;
	}
	
	#navBarIcon.clicked {
		width: 170px;
	}
	
	#navbar {
		display: none;
	}
	
	#navbar ul {
		
	}

	#navbar ul li {
		background: none;
		border-radius: none;
	    border: none;
	    font-size: 14pt;
	    font-family: verdana;
	    min-height: 0px;
	    margin: 0px;
	    text-align: center;
	}

	#navbar.responsive {
		position: absolute;
		display: block;
		top: 14;
		left: 0;
		z-index: 10000;
	}
		
	#navbar.responsive {
		background-color: white;
	    border: 0px solid white;
	    border-radius: 0px;
	    box-shadow: none;
	    margin: 30px 10px 10px;
	    width: 170px;	    
	}

	#navbar.responsive ul li {
		float: none;
		display: block;
		background: url("../images/link-background2.png") repeat-x scroll center bottom #FFFFFF;
		border-radius: 0px;
	    border: none;
	    font-size: 12pt;
	    font-family: verdana;
	    min-height: 25px;
	    margin: 4px 0px;
	    text-align: center;
	}
	
	#container {
		padding-top: 7px;
		width: 100%;
	}
	
	#leftsection {
		float: none;
	    width: auto;
	}
	
	#rightsection {
		float: none;
		width: 100%;
	}
	
	#hoursSummary_new {
		display: none;
	}
	
	.trackingWindow {
		display: none;
	}

	#content {
	    margin-top: 10px;
	    padding: 10px;
	}

	.hoursEditorBox {
		min-height: 50px;
	}
	
	.regularBox {
	    margin: 2px;
	    background-color: #FFFFFF;
	    padding-bottom: 13px;
	    padding-left: 0px;
	}
	
	table td {
		vertical-align: top;
	}

	#loginDiv {
		border: 5px solid black;
		margin-left: 1%;
		margin-right: 1%;
		margin-top: 10px;
		text-align: center;
		padding: 5px;
	}

	#titlehead {
		font-size: 18pt;
		font-weight: bold;
		text-align: center;
		padding: 5px;
		background-color: #d6e1f4;
		border-radius: 10px;
	}
	
	
}