---
  geckodriver: https://github.com/mozilla/geckodriver/releases/download/v0.29.1/geckodriver-v0.29.1-linux64.tar.gz
  geckofile: geckodriver-v0.26.0-linux64.tar.gz
  geckodriverdestination: /usr/bin/geckodriver
## This is from 
## https://www.seleniumhq.org/download/
  selenium_download: https://selenium-release.storage.googleapis.com/3.9/selenium-server-standalone-3.9.1.jar
  selenium_folder: /path/to/application/folder/selenium
  smtp_relay_server: smtp-relay.domain.com
  smtp_replay_username: email@email
  smtp_replay_password: emailpassword
...